@use '../../styles/util' as *;

.event_card {
  max-width: 807.5px;
  width: 100%;
  height: 165px;
  background: #f8f8f8;
  border-radius: 20px;
  padding: 25px 25px;
  display: flex;
  gap: 32px;
  @include media('<854px') {
    height: auto;
  }
  @include media('<676px') {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &_logo {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: #c4c4c4;
    background-image: url(https://picsum.photos/200/300);
    background-position: center;
    background-size: cover;
  }
  &_info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    @include media('<854px') {
      flex-direction: column;
    }
    @include media('<676px') {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .left {
      width: 100%;
      flex: 1;
      @include media('<522px') {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &_name {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 150.69%;
        color: #434343;
        width: fit-content;
      }

      &_track {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 31px;
        color: #434343;
        margin-bottom: 10px;
        width: fit-content;
        cursor: pointer;

        &:hover {
          color: rgb(29, 96, 221);
          text-decoration: underline;
        }
      }

      &_title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 150.69%;
        color: #a5b0e8;
        width: fit-content;

        //overflow
        max-height: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 370px;
        white-space: nowrap;

        @include media('<522px') {
          padding: 0 15px;
          white-space: unset;
          max-height: unset;
          text-align: center;
        }
      }
    }

    .right {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include media('<854px') {
        align-items: flex-start;
        margin-top: 20px;
      }

      &_date {
        font-style: normal;
        font-weight: 510;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: -0.012em;
        font-family: 'Varela Round', sans-serif;
      }
      &_time {
        font-family: 'Varela Round', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 75px;
        line-height: 80px;
        text-align: center;
        letter-spacing: -0.04em;
        color: rgba(0, 0, 0, 0.7);
        mix-blend-mode: multiply;
      }
    }
  }
}
.event_card_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
